
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;

}

body {
    /* background-color: rgb(250, 198, 207); */
 /* background: url('succ.jpg');
   
 background-position:center;
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh;
 background-color: #333;
 background-blend-mode:overlay; */
 background-color: rgb(200, 225, 235)

}

.qote-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 10px rgba(37, 199, 22, 0.1);
    padding:40px  50px;
    width: 60vw;
    text-align: center;
    border-radius: 4%;
    overflow: hidden;
    background: radial-gradient(circle farthest-side at 50% 50% ,#efcd8e,rgb(241, 199, 119) ,rgb(225, 176, 85));
    background-blend-mode: luminosity;
    color: #222;
    min-height: 75vh;

}

blockquote {
    min-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    font-family: "Playfair Display", serif;
     line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
    animation: blink 2s  ease-in-out ;
    overflow: hidden;
    font-weight: 600;
    z-index: 50;
}



.qote-box .icon1 {
    display: flex; 
    justify-content: flex-start;
    margin-bottom: 40px;
}
.qote-box .icon2 {
    display: flex; 
    justify-content: flex-end;
    margin-top: 40px;
}
.icon1 i , .icon2 i {
    font-size: 2.2rem;
}



@keyframes blink {
    from {
        left:-100%;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}


.qote-box .auto-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-top: 20px;

}

hr {
    width: 30px;
    border-color: #56aeff;
}
.qote-box p#autho {
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    font-style: italic;
}

.button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin:0 auto;
}

.button button {
    padding: 9px 24px;
    border-radius: 20px;
    border:1px #56aeff solid;
    background-color: #56aeff;
    color: white;
    cursor: pointer;
    transition: bacground-color .3s ease-in-out;
    font-size: 1rem;
    text-align: center;
}

.button button:hover {
    background-color: #2d90ed;
}

@media (max-width:600px) {
    .qote-box {
        width: 80vw;
        padding-bottom: 0px;
        min-height: 40vh;

    }
    blockquote {
        font-size: 1.5rem;
    }
}
@media (max-width:760px){
    .qote-box  {
        min-height: 80vh;
        width: 90vw;
    }
}

